---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostsList from '@/components/PostsList.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle} alignCenter>
  <p>This is where I will post about my journey learning Astro.</p>
  <PostsList posts={allPosts} />
</BaseLayout>