---
import MenuItem from '../components/MenuItem.astro'

const menu = [
  {
    label: 'Home',
    href: '/',
  },
  {
    label: 'About',
    href: '/about',
  },
  {
    label: 'Blog',
    href: '/blog',
  },
];
---

<div class="nav-links">
  {menu.map(({label, href}) => (
    <MenuItem label={label} href={href} />
  ))}
</div>

<style>
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
  }
  .expanded {
    display: unset;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      justify-content: center;
      display: flex;
      position: static;
      width: auto;
      background: none;
    }
  }
</style>