---
interface Props {
	pageTitle: string;
	alignCenter?: boolean;
	footerToBottom?: boolean
}

const {
	pageTitle,
	alignCenter = false,
	footerToBottom = true,
}: Props = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class:list={[{ 'footer-to-bottom': footerToBottom }]}>
    <Header />
		<main class:list={["layout", { 'align-center': alignCenter }]}>
			<h1 class="title">{pageTitle}</h1>
			<slot />
		</main>
    <Footer />
    <script>
      import '../scripts/menu.js';
    </script>
	</body>
</html>

<style>
	.title {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	.footer-to-bottom {
		display: flex;
		flex-direction: column;
	}

	.align-center {
		text-align: center;
	}
</style>
